:root {
	--bg: #21243D;
	--fg: #252850;
	--red: #FF7C7C;
	--blue: #88E1F2;
	--white: #FFFFFF;
	--active: #FFD082;
	--deactive: #776758;
}

body {
	background: var(--bg);
	color: var(--white);
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
}

.big-text {
	font-size: 20pt;
}

button, input {
	background-color: var(--bg);
	border: solid 5px var(--active);
	border-radius: 10px;
	color: var(--white);
	padding: 10px;
	font-weight: bold;
	margin: 5px;
	margin-bottom: 20px;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	overflow: hidden;
}

#field {
	min-width: 75vh;
	min-height: 75vh;
}

table.inner_field td {
	min-width: 25px;
	min-height: 25px;
}

td {
	border: solid 5px var(--fg);
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

@keyframes border-flickering {
	from {border-color: var(--active);}
	50% {border-color: var(--fg);}
	to {border-color: var(--active);}
}

table.selectable td {
	animation: border-flickering 4s infinite;
	animation-timing-function: ease-in-out;
}

i.fa-x {
	color: var(--red);
}
i.fa-circle {
	color: var(--blue);
}
i.placeholder {
	color: var(--bg);
}
